* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #555353);
}

.caixadelogin{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.botao {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.btn:hover {
    background-color: #ddd;
}

.textodesla {
    font-size: 0.8rem;
}